<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">podlike</title>
    <link rel="stylesheet" href="podlike.css" th:href="@{/css/podlike.css}" />
</div>
<header th:fragment="header">
    <h1>podlike</h1>
    <nav>
        <a href="#" th:text="${session.currentuser}">abmelden</a>
    </nav>
</header>

<footer th:fragment="footer">
    <nav>
        <ul>
            <li><a class="link-home" href="podcasts.html" th:href="@{/podcasts}">Podcasts</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>