<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='podlike - podcasts')">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section id="body" class="podcastlist">
    <article th:each="p : ${podcasts}">
        <img src="https://www.th-nuernberg.de/fileadmin/_processed_/4/5/csm_H2-Event012_de59218c54.jpg"
             th:src="@{/podcasts/{id}/image(id=${p.id})}">
        <h1>
            <a href="#" th:href="@{/podcasts/{id}(id=${p.id})}" th:text="${p.title}">Gemischtes Hack</a>
        </h1>
    </article>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>