<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='podlike - podcast')">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section id="body">
    <form action="#" th:action="@{/podcasts/save}" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="title">Name: </label>
            <input type="text" maxlength="40" name="title" id="title" th:value="${podcast.title}"/>
            <div th:if="${ errors.title }"><span class="error" th:text="${errors.title}"></span></div>
        </fieldset>
        <fieldset>
            <label for="author">Author: </label>
            <input type="text" maxlength="120" name="author" id="author" th:value="${podcast.author}"/>
        </fieldset>
        <fieldset>
            <label for="explicit">Explizite Inhalte: </label>
            <input type="radio" name="explicit" id="explicit" />
        </fieldset>
        <fieldset>
            <label for="link">Link: </label>
            <input type="url" name="link" id="link" th:value="${podcast.link}" />
        </fieldset>
        <fieldset>
            <label for="description">Beschreibung: </label>
            <textarea name="description" id="description" rows="5" cols="80" th:text="${podcast.description}"></textarea>
        </fieldset>
        <fieldset>
            <label for="image">Titelbild des Podcasts</label>
            <input type="file" name="image" id="image" />
        </fieldset>
        <input type="hidden" name="id" value="1" th:value="${podcast.id}" />
        <input type="submit" />
    </form>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>