<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='podlike - podcast')">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section id="body">
    <form action="#" th:action="@{/podcasts/{id}/episodes/save(id=${podcast.id})}" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="title">Name: </label>
            <input type="text" maxlength="40" name="title" id="title" th:value="${episode.title}"/>
        </fieldset>
        <fieldset>
            <label for="description">Beschreibung: </label>
            <textarea name="description" id="description" rows="4", cols="80" th:text="${episode.description}"></textarea>
        </fieldset>
        <fieldset>
            <label for="media">Audio-Datei</label>
            <input type="file" name="media" id="media" />
            <div th:if="${errors.media}"><span class="error" th:text="${errors.media}"></span></div>
        </fieldset>
        <input type="hidden" name="id" value="#" th:value="${episode.id}" />
        <input type="submit" />
    </form>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>