<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='podlike - podcast')">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section id="body" class="episodelist">
    <article class="episodeinfo">
        <div>
            <h1 th:text="${podcast.title}">a Podcast Title</h1>
            <p class="author" th:text="${podcast.author}">the author's name</p>
            <p th:text="${podcast.description}">the description of the podcast goes here</p>
        </div>
        <div>
            <a href="#" th:href="@{/podcasts/{id}/edit(id=${podcast.id})}">edit Podcast</a>
        </div>
        <div>
            <img th:src="@{/podcasts/{id}/image(id=${podcast.id})}" width="200">
        </div>
    </article>
    <div class="episodes">
        <div th:each="e : ${episodes}">
            <h2 th:text="${e.title}">episode title</h2>
            <audio controls src="#" th:src="@{/podcasts/{id}/episodes/{episodeId}/media(id=${podcast.id},episodeId=${e.id})}">
                Your browser does not support the audio element. please visit with a HTML5 comliant browser
            </audio>
            <a class="editepisodelink" href="#" th:text="${e.title}" th:href="@{/podcasts/{id}/episodes/{episodeId}/edit(id=${podcast.id},episodeId=${e.id})}"></a>
        </div>
    </div>
    <div>
        <a href="#" th:href="@{/podcasts/{id}/episodes/add(id=${podcast.id})}">add Episode</a>
    </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>