html, body {
    margin: 0;
    padding: 0;
    background-color:#EEEEEE;
    font-family: Helevetica, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: #0000AA;
}
a:visited {
   color: inherit;
}
fieldset {
   border: none;
}
form {
   display:flex;
   flex-direction: column;
}
label {
    display: inline-block;
    width: 33%;
}
input[type=text], input[type=password] {
    display: inline-block;
    width: 64%;
}

.loginform {
    padding: 10px;
    border: #000030 1px solid;
    border-radius: 20px;
    margin-top: 30px;
}

header {
    box-sizing: border-box;
    display: flex;
    margin:0;
    background: #000030;
    color: #FFFFFF;
}
header h1 {
    flex: 3;
    margin: 0;
    padding: 10px 30px;
}
header nav {
    flex: 1;
    text-align:right;
    padding: 20px;
}
header nav a {
    color:#FFFFFF;
}
section#body {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 500px;
}
.podcastlist {
    display: flex;
}

.podcastlist article {
    width: 200px;
    height: 200px;
}
.podcastlist article img {
    display: block;
    width: 200px;
    overflow: hidden;
    filter: blur(2px);
}

.podcastlist article h1 {
    position: relative;
    bottom: 0px;
    top: -200px;
    width: 200px;
    height: 200px;
    margin: 0;
    background-color: #000030;
    filter: opacity(0.8);
}

.podcastlist article h1 a {
   position: absolute;
   bottom: 0;
   text-align: right;
   font-size: 1.5em;
   color: #FFF;
   filter: opacity(1);
}


.podcasts,
.myactions {
    background-color:#FFFFFF;
    margin: 0px 20px;
    padding:5px 0px;
}
.podcasts li,
.myactions li,
.paygroups li,
footer nav ul li {
    list-style-type: none;
}
ul.payroll {
    border-left: #AAAAAA 2px dashed;
}
ul.payroll li {
    padding:10px 30px;
    margin-bottom: 5px;
    background: #DDDDDD;
    border-bottom: #AAAAAA 2px dashed;
}
ul.payroll li .paid {
    float: right;
    color: #00AA00;
}
.mybalance,
.paygroups li {
    padding: 15px 30px;
    background-color:#FFFFFF;
    border: #9090AA 2px solid;
    border-radius: 20px;
}
.mybalance .saldo,
.paygroups .saldo {
    float: right;
}
.myactions ul,
.paygroups {
    padding:0;
}
.paygroups li {
    margin-bottom: 20px;
}
.myactions ul li {
    padding: 0px 20px;
}
.myactions a {
    border: #DDDDDD 2px solid;
    padding: 10px 15px;
    color: #000000;
}
footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    border-top: #000030 1px solid;
    padding: 20px;
}
footer nav ul {
    text-align: center;
    margin:0;
    padding:0;
}
footer nav ul li {
    display: inline-block;
    margin-right: 10px;
}
footer nav ul li a {
    display:block;
    background: center top no-repeat;
    background-size: 20px;
    padding: 25px 3px 3px 3px;
    font-size: 12px;
    text-align: center;
}
a.link-home {
    background-image: url("../img/bars-solid.svg")
}
a.link-add-group {
    background-image: url("../img/plus-solid.svg")
}
